@use "../utils" as u;

.row-height {
  height: 100vh;
  @media (max-width: 991px) {
    height: unset;
  }
}

.index-back {
  z-index: -1;
}
.index-middle {
  z-index: 0;
}
.index-front {
  z-index: 1;
}
.index-nav {
  z-index: 3;
}

.hide {
  display: none;
}
.form-floating > label {
  top: u.rem(5);
}
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  top: 0px;
}
