@use "../utils" as u;

body {
  font-family: "Poppins", sans-serif;
}

.row-height {
  height: 100vh;

  @include u.breakpoint-max(medium) {
    height: auto;

    min-height: 30vh;
  }
}

.index-back {
  z-index: -1;
}
.index-middle {
  z-index: 0;
}
.index-front {
  z-index: 1;
}
.index-nav {
  z-index: 3;
}
